$color-white: #FFFFFF;
$text-color: #1A0140;
$text-color-light: #ABB0ED;
$navbar-link-bg-color: #040B5E;
$navbar-buffer: 2.5rem;

body {
    padding-top: $navbar-buffer;
}

h1, h2, h3, h4, h5, strong {
    color: $text-color;
}

section {
    padding-bottom: 20px;
    padding-top: 3rem;
    margin-top: -($navbar-buffer);
}

.navbar {
    padding-top: 0px !important;
    padding-bottom: 0px !important;
}

.navbar-brand {
    padding: 0px !important;
}

.navbar-nav {
    li {
        a:hover, a.active {
            color: $text-color-light !important;
            background-color: $navbar-link-bg-color !important;
        }
    }
}

.bg-img {
    background-blend-mode: color-burn;
    background-color: #00000090;
    background-image: var(--bg-img);
    background-size: cover;
    
}

.bg-parallax {
    background-attachment: fixed;
    background-blend-mode: color-burn;
    background-color: #00000080;
    background-image: var(--parallax-img);
    background-size: cover;
    background-position: center;
}

.bb-2 {
    border-bottom: solid 2px $color-white;
}

.footer-dark {
    color: $color-white;
    padding: 8px;
    left: 0;
    right: 0;
}

@for $i from 1 through 3 {
    .h-#{$i} {
        height: 150px * $i;
    }
}

.img-brand {
    padding: 3px;
    height: 40px;
    border-radius: 2px;
}

.skill-img {
    height: 180px;
    border-radius: 100px;
}

.skill-text {
    margin: auto 0px;
}

.social-icons {
    font-size: 2.5em;
    padding-right: 20px;
    text-align: right;

    a, a:visited {
        color: $color-white;
    }

    a:hover {
        color: $text-color-light;
        text-decoration: none;
    }
}

.text-right {
    float: right;
}
